.cool_color {
    background-image: linear-gradient( red, darkred);
}

.other_color {
    background-image: linear-gradient( white, coral);
}

.third_color {
    background-image: linear-gradient( pink, yellow);
}

.deck_color {
    background-color: green;
}

.logo {
    width: 15vw;
}

.logo:hover {
    width: 20vw;
}

h1 {
    font-family: "Rubik Burned", system-ui;
}

$primary: maroon; 
$secondary: grey;

@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');

@import '../node_modules/bootstrap/scss/bootstrap.scss';
