.cool_color {
    background-image: linear-gradient( #613e35, #32445c);
}

.other_player_bg {
    background-color:#68899c;
}

.main_bg {
    background-image: linear-gradient( #613e35, #32445c);
}

.login_card {
    background-color:#68899c;
}

.title_bg {
    background-color:#68899c;
}

.other_color {
    background-image: linear-gradient( white, coral);
}

.third_color {
    background-image: linear-gradient( pink, yellow);
}

.deck_color {
    background-color: #b89d5e;
}

.logo {
    width: 15vw;
}

.logo:hover {
    box-shadow: grey 0px 1px 4px, grey 0px 0px 0px 3px;
}

h1 {
    font-family: "Sigmar One", sans-serif;
}

h2 {
    font-family: "Emilys Candy", serif;
}

$primary: #4d778f;
$secondary: grey;

@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Sigmar+One&display=swap');
@import '../node_modules/bootstrap/scss/bootstrap.scss';
